*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body
{
    width: 100%;
    height: 100%;
}

/* HEADER */

.header
{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #C9C9C9;
    position: fixed;
}
.menu
{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-link
{
    height: 100%;
    list-style: none;
    font-size: 1.5em;
    font-family: "roboto", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, border 0.2s;
    -webkit-tap-highlight-color: transparent;
}
.menu-link > a
{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #818181;
    outline: none;
    transition: color 0.2s;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
}
.menu-link:hover > a
{
    color: #313131;
}
.wa
{
    height: 100px;
    width: 60px;
}
.menu-link > a > .wa .cls-1
{
    transition: fill 0.3s;
}
.menu-link:hover > a > .wa .cls-1
{
    fill: #0049F5;
}
.right-menu
{
    height: 100%;
    display: flex;
    align-items: center;
}
.search-box
{
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid #C9C9C9;
    border-radius: 22px;
    transition: width 0.5s;
}
.search-icon
{
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.search-icon > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
    transition: background-color 0.3s;
}
.search-icon > div:hover
{
    background-color: #2667ff15;
}
.search-img
{
    height: 100%;
}
.search-input
{
    display: flex;
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    border-left: 1px solid #E0E0E0;
    font-size: 1.1em;
    outline: none;
    color: #313131;
    font-family: "roboto";
    background-color: transparent;
}
.search-input::placeholder
{
    color: #818181;
    opacity: 1;
}
.profile-links
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.profile-link
{
    height: 32.5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family: "roboto", sans-serif;
    font-size: 1.1em;
    white-space: nowrap;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.sign-up
{
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 0.04em;
    transition: background-color 0.3s;
    background-color: #2667FF;
}
.sign-up:hover
{
    background-color: #0049F5;
}
.log-in
{
    color: #818181;
    border: 1px solid #C9C9C9;
    transition: background-color 0.3s, color 0.2s;
}
.log-in:hover
{
    color: #000000;
}

/* MOBILE HEADER */

.mobile-header
{
    display: none;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #C9C9C9;
    background-color: white;
}
.mobile-menu
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 1s;
    z-index: 5;
}
.mobile-menu-div
{
    transform: translateX(-300px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    transition: transform 0.4s;
    padding: 30px;
}
.open
{
    transform: translateX(0);
}
.mobile-menu-exit
{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 300px);
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
.mobile-menu-link
{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.mobile-menu-link > a
{
    color: #818181;
    font-size: 1.7em;
    font-family: "roboto", sans-serif;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.3s, background-color 0.3s;
}
.mobile-menu-link:hover > a
{
    color: #313131;
}
.mobile-sign-up
{
    margin-bottom: 15px;
}
.mobile-sign-up > a, .mobile-log-in > a
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.mobile-sign-up > a
{
    color: white;
    background-color: #2667FF;
    font-weight: bold;
    letter-spacing: 0.04em;
}
.mobile-log-in > a
{
    border: 1px solid #C9C9C9;
}
.mobile-sign-up:hover > a
{
    color: white;
    background-color: #0049F5;
}
.mobile-link-border
{
    width: 100%;
    height: 1px;
    background-color: #C9C9C9;
    display: block;
    margin-bottom: 30px;
}
.mobile-menu-button
{
    position: absolute;
    left: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.mobile-menu-button-img
{
    width: 100%;
    height: 100%;
}
.mobile-menu-button-img > .cls-1
{
    fill: #313131;
}
.mobile-logo
{
    height: 45px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.mobile-logo > a
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.mobile-wa
{
    width: auto;
    height: 100%;
}
.mobile-search-box
{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    border: 1px solid #C9C9C9;
    border-radius: 50%;
    transition: width 0.3s, height 0.15s;
    right: 15px;
    background-color: white;
}
.mobile-search-icon
{
    width: 40px;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.mobile-search-icon > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.mobile-search-img
{
    height: 60%;
}
.mobile-search-input
{
    position: absolute;
    right: 0;
    width: calc(100% - 65px);
    display: none;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 0;
    border-left: 1px solid #E0E0E0;
    font-size: 1.1em;
    outline: none;
    color: #313131;
    font-family: "roboto";
    background-color: transparent;
}

.dispare
{
    animation-name: dispare;
    animation-duration: 0.15s;
}
.show
{
    animation-name: show;
    animation-duration: 0.15s;
}
@keyframes dispare
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes show
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

/* CONTENT */

.content
{
    width: 100%;
    height: calc(100% - 100px);
    background-color: #F8F8F8;
    margin-top: 100px;
    z-index: -1;
}
.presentation
{
    width: 50%;
    height: 100%;
    min-width: 600px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentation > h1
{
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 60px;
    color: #313131;
    font-size: 1.8em;
}
.presentation > h1 > em
{
    font-style: normal;
    white-space: nowrap;
}
.presentation > p
{
    margin-bottom: 25px;
    font-family: "roboto", sans-serif;
    font-size: 1.6em;
    color: #313131;
    white-space: nowrap;
}
.buttons
{
    display: flex;
    flex-direction: column;
}
.buttons > a
{
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.3em;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 0px 25px #00257b2a;
    -webkit-tap-highlight-color: transparent;
}
.explore
{
    background-color: #2667FF;
    margin-bottom: 20px;
    color: white;
    border: none;
    transition: background-color 0.3s;
}
.explore:hover
{
    background-color: #0049F5;
}
.publish
{
    color: #2667FF;
    border: 3px solid #2667FF;
    transition: background-color 0.3s, color 0.2s;
}
.publish:hover
{
    background-color: #2667FF;
    color: white;
}

/* INSTALL ALERT */

.install-alert
{
    position: fixed;
    width: 330px;
    height: 180px;
    bottom: 15px;
    right: 15px;
    background-color: white;
    border: 1px solid #C9C9C9;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #00257b2a;
}
.install-alert-box
{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
}
.install-alert-box > p
{
    font-family: "roboto", sans-serif;
    font-size: 1.5em;
    color: #313131;
}
.install-alert-box > p > em
{
    font-style: normal;
    white-space: nowrap;
}
.install-alert-box > button
{
    height: 40px;
    width: 130px;
    position: absolute;
    bottom: 10px;
    font-size: 1.2em;
    border-radius: 12px;
    font-family: "roboto", sans-serif;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.dismiss
{
    left: 10px;
    background-color: transparent;
    border: 1px solid #C9C9C9;
    color: #818181;
    transition: background-color 0.3s, color 0.2s;
}
.dismiss:hover
{
    color: #1f1f1f;
}
.install
{
    right: 10px;
    background-color: #2667FF;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 0.04em;
    transition: background-color 0.3s;
}
.install:hover
{
    background-color: #0049F5;
}

/* RESPONSIVE */

@media only screen and (max-width: 1050px)
{
    .menu-link > a
    {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (max-width: 900px)
{
    .header
    {
        display: none;
    }
    .mobile-header
    {
        display: flex;
    }
    .content
    {
        margin-top: 0;
    }

    .presentation
    {
        min-width: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 360px)
{
    .buttons
    {
        width: 100%;
    }
    .buttons > a
    {
        width: 100%;
    }
}
@media only screen and (max-width: 500px)
{
    .install-alert
    {
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        border: none;
        border-radius: 0;
    }
}
@media only screen and (max-height: 550px)
{
    .presentation > h1
    {
        margin-bottom: auto;
    }
}
@media only screen and (max-width: 360px)
{
    .mobile-menu-div
    {
        width: 80%;
    }
    .mobile-menu-exit
    {
        width: 20%;
    }
}
@media only screen and (max-width: 300px)
{
    .install-alert-box > button
    {
        width: 45%;
    }
}
@media only screen and (max-height: 500px)
{
    .install-alert
    {
        display: none;
    }
}